/* flexslider */
body{
    background: #fff;
}
.special_App{
    max-width: 750rem;
    margin: 0 auto;
    padding-bottom: .54rem;
}
.banner{
    width:100%;
}
.special_App .banner {
    width: 100%;
}
.banner img{
    width:100%;
    display:block;
}
.special_App .container {
    margin: 0 .3rem;
    position: relative;
    z-index: 3;
}
.container .organization {
    background: #fff;
    border-radius:.07rem;
    box-shadow: 0 0.02rem 0.06rem 0.06rem #eaeef7;
    padding: .24rem .4rem;
    color: #26a87e;
    margin-top: -.82rem;
}
.organization p {
    font-size:.28rem;
    line-height:.36rem;
    text-align: justify;
}
.handle_pic{
    margin:.54rem 0 .44rem;
}
.handle_pic img {
    display: block;
    width: 2.15rem;
}
.delivery_pic{
    margin-bottom:.44rem;
}
.delivery_pic img{
    display: block;
    width: 2.49rem;
}
.picList {
    margin-bottom:20px;
}
.picList li {
    width: 33.33%;
    text-align: center;
    float: left;
    margin-bottom:10px;
}
.picList li:nth-of-type(4){
    width:50%;
}
.picList li:nth-of-type(5){
    width:50%;
}
.picList div {
    height:.84rem;
    margin: 0 auto;
}
.picList .strategy {
    width: .85rem;
    background: url(../../../image/activity/sczt/strategy.png) no-repeat;            background-size: 100% 100%;
}
.picList .exclusive {
    width: .75rem;
    background: url(../../../image/activity/sczt/exclusive.png) no-repeat;           background-size: 100% 100%;
}
.picList .bazaar {
    width: .84rem;
    background: url(../../../image/activity/sczt/bazaar.png) no-repeat;              background-size: 100% 100%;
}
.picList .limit {
    width:.92rem;
    background: url(../../../image/activity/sczt/limit.png) no-repeat;
    background-size: 100% 100%;
}
.picList .reliable {
    width:.76rem;
    height:.9rem;
    background: url(../../../image/activity/sczt/reliable.png) no-repeat;
    background-size: 100% 100%;
}
.picList p {
    font-size:.28rem;
    color: #666;
    line-height:.74rem;
}
.special_App .scene_bg{
    background: #f5f5f5;
}
.special_App .pt{
    padding: .54rem 0 .2rem;
}
/*第一部分轮播*/
.showImg{
    margin:0 .25rem;
    overflow: hidden;
    position: relative;
}
.showImg .swiper-container{
    width: 100%;
}
.swiper-container img{
    display: block;
    width: 100%;
}
.swiper-pagination{
    bottom: .2rem;
    left: 50%;
    margin-left: -0.7rem;
}
.swiper-pagination_one{
    width: .45rem;
    height: .45rem;
    line-height: .45rem;
    border-radius:  50%;
    bottom:28%;
    background: rgba(0,0,0,.7);
    margin: 0;
    left: 88%;
    font-size:.22rem;
    color:#26a87e;
}
.swiper-pagination_one span.swiper-pagination-current{
    font-size: .28rem;
}
.swiper-pagination_two{
    bottom:-3%;
    left: 94%;
}
.swiper-pagination_two span.swiper-pagination-bullet{
    background: #ccc;
    opacity: .4;
}
.swiper-pagination_two span.swiper-pagination-bullet-active{
    background: #ccc;
    opacity:.9;
}
.swiper-pagination-bullet{
    margin-right: .18rem;
}
.swiper-pagination-bullet:last-child{
    margin-right: 0;
}
.swiper-pagination-bullet-active{
    background-color: #fff000;
}
.one p,.three p{
    line-height: .34rem;
    font-size:.26rem;
    color:#666;
    margin-top: .24rem;
}
.two p{
    width: 6.24rem;
    height:  .54rem;
    line-height:  .54rem;
    font-size:.26rem;
    color: #fff;
    padding-left: .16rem;
    background: rgba(0,0,0,.6);
    position:  absolute;
    bottom:0;
    left: 0;
}
/*第二部分轮播*/
.container .safeguard{
    line-height:.34rem;
    font-size:.26rem;
    color:#666;
    margin-bottom:.36rem;
}
/*第三部分*/
.showImg_two .swiper-slide-box{
    margin-top:.38rem;
}
.showImg_two .swiper-slide h5{
    line-height: 1;
    text-align: center;
    font-size:.28rem;
    color:#333;
}
.container .more {
    width:4.18rem;
    height:.62rem;
    line-height:.62rem;
    text-align: center;
    font-size: .28rem;
    border: 1px solid #28ad80;
    border-radius: .03rem;
    margin: .4rem auto 0;
}
.container .more a {
    display: block;
    color: #28ad80;
}
.pt .container .swiper-pagination_three{
    top: 53%;
    height:8px;
}
.container .swiper-pagination_three > span{
    height:8px;
    float:left;
}

