.alipayBg h3 span{
	border-left:.04rem solid #4574cd;
}
.ex_popup a{
	 background-color:#4574cd;
}
.treasure{
	color:#4574cd;
}
.timelimit div, .earnings_cont div {
	color:#4574cd;
}
.goReg a{
	 background-color:#4574cd;
}
.verify .pop_msg_count{
	background:#4574cd;
}