.docWrapper{
    max-width: 750px;
}
body {
    background: #4359c9;
}
.main {
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
.banner {
    width: 100%;
    position: relative;
    margin-bottom:.4rem;
}
.banner .cash {
    padding: 0 .2rem;
    width: 3.3rem;
    height: .46rem;
    line-height: .46rem;
    text-align: center;
    font-size: .26rem;
    font-weight: 600;
    color: #384bcb;
    background: #f8e533;
    background: -moz-linear-gradient(#f8e533,#f7d42f,#f6ca2d);
    background: -webkit-linear-gradient(#f8e533,#f7d42f,#f6ca2d);
    background: -o-linear-gradient(#f8e533,#f7d42f,#f6ca2d);
    position: absolute;
    top: 79%;
    left: 50%;
    margin-left: -1.85rem;
    border-radius: .23rem;
}
.banner p {
    position: absolute;
    top: 94%;
    left: 50%;
    font-size: .22rem;
    color: #20c8ff;
    transform: translate(-50%, 0);
}
.banner img {
    display: block;
    width: 100%;
}
.main .distance {
    margin: 0 .2rem;
}
.main .cumulative_amount p {
    text-align: center;
    line-height: .44rem;
    font-size: .24rem;
    color: #60eeff;
}
.main .cumulative_amount p .sum {
    color: #fee408;
}
.main .cumulative_amount p em {
    text-decoration: underline;
}
.main .site {
    line-height: .76rem;
    font-size: .26rem;
    color: #7af1ff;
    text-align: right;
    text-decoration: underline;
    padding-right: .14rem;
}
.main .prize_list li {
    float: left;
    width: 46%;
    text-align: center;
    margin: 0 2% .26rem;
}
.main .prize_list li.last {
    width: 96%;
    margin: 0 .1rem;
}
.main .prize_list .prize_bg {
    background: #3271d8;
    border-radius: .06rem;
    overflow: hidden;
    position: relative;
}
.main .prize_list .prize_bg em {
    position: absolute;
    font-size: .22rem;
    color: #fee408;
    left: .1rem;
    top: .1rem;
}
.main .prize_list .jdCard_one,
.main .prize_list .jdCard_two {
    width: 2.63rem;
    height: 1.68rem;
    margin: .43rem auto .35rem;
}
.main .prize_list .jdCard_one {
    background: url("../../../image/activity/mayActivity/jdCard_one.png") no-repeat center;
    background-size: 100% 100%;
}
.main .prize_list .jdCard_two {
    background: url("../../../image/activity/mayActivity/jdCard_two.png") no-repeat center;
    background-size: 100% 100%;
}
.main .prize_list .Philips {
    width: 2.23rem;
    height: 2.26rem;
    background: url("../../../image/activity/mayActivity/toothbrush.png") no-repeat center;
    background-size: 100% 100%;
    margin: .2rem auto .04rem;
}
.main .prize_list .electric_cooker {
    width: 2.06rem;
    height: 1.76rem;
    background: url("../../../image/activity/mayActivity/electric_cooker.png") no-repeat center;
    background-size: 100% 100%;
    margin: .62rem auto .12rem;
}
.main .prize_list .camera {
    width: 4.39rem;
    height: 2.38rem;
    background: url("../../../image/activity/mayActivity/camera.png") no-repeat center;
    background-size: 100% 100%;
    margin: .46rem auto 0;
}
.main .prize_list .prize_bg p:nth-of-type(1) {
    height: .46rem;
    line-height: .46rem;
    font-size: .26rem;
    color: #fee408;
}
.main .prize_list .prize_bg p:nth-of-type(2) {
    height: .42rem;
    line-height: .42rem;
    font-size: .22rem;
    color: #66cff1;
    padding-bottom: .15rem;
}
.main .get_prize {
    font-size: .22rem;
    color: #fff;
    margin: .22rem 0 .64rem .12rem;
}
.rule_pic {
    position: fixed;
    top: 30%;
    right: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: url("../../../image/activity/mayActivity/rule_pic.png") no-repeat center;
    background-size: 100% 100%;
    z-index: 99;
}

.welfareBorder {
    width: 100%;
    background: url("../../../image/activity/mayActivity/welfareBorder.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: .26rem;
}
.welfareBorder .packet_title {
    font-size: .18rem;
    color: #fff;
    margin-top: .18rem;
}
.welfare_cont {
    padding: .22rem .26rem .18rem .22rem;
}
.welfare_cont .welfare_details h4 {
    width: 1.12rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .26rem;
    color: #fee408;
    border-radius: .18rem;
    margin-bottom: .12rem;
}
.welfare_cont .welfare_details p {
    height: .36rem;
    line-height: .36rem;
    font-size: .24rem;
    color: #fff;
}
.welfare_cont .welfare_details p.typeface {
    font-size: .22rem;
}
.welfare_cont .welfare_details p span {
    font-size: .28rem;
    color: #fee408;
    font-weight: bold;
}
.welfare_cont .welfare_details .invest_btn {
    width: 2.04rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .3rem;
    color: #0f39df;
    background: #f8e533;
    background: -moz-linear-gradient(#f8e533,#f7d42f,#f6ca2d);
    background: -webkit-linear-gradient(#f8e533,#f7d42f,#f6ca2d);
    background: -o-linear-gradient(#f8e533,#f7d42f,#f6ca2d);
    border-radius: .3rem;
    cursor: pointer;
    margin-top: .22rem;
}
.welfare_cont .welfare_details .no_started {
    opacity: .5;
}
.welfare_one .welfare_details {
    width: 66%;
}
.welfare_one .Redpacket {
    width: 32%;
    margin-top: .14rem;
}
.welfare_two .welfare_details {
    width: 64%;
}
.welfare_two .Redpacket {
    width: 36%;
    margin-top: .34rem;
}
.welfare_two .welfare_details p {
    margin-top: .32rem;
}
.welfare_two .welfare_details .invest_btn {
    margin-top: .32rem;
}
.welfareThree_pic {
    display: block;
    width: 100%;
    padding: .44rem 0 .26rem;
}
.main .bottom_pic {
    width: 100%;
    height: 1.09rem;
    background: url("../../../image/activity/mayActivity/bottom_pic.png") no-repeat;
    background-size: 100% 100%;
}

/*活动规则*/
.rule_pop_box{
    width: 90%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    background-color: #fff;
    z-index: 400;
    border-radius: .04rem;
    display: none;
}
.rule_pop_box .close_btn{
    position: absolute;
    width: .5rem;
    height: .5rem;
    background: url(../../../image/activity/mayActivity/close_pop_btn.png) no-repeat 0 0;
    background-size: 100%;
    right: 0;
    top: -.64rem;
}
.rule_pop_box .rule_title{
    width: 100%;
    height:.9rem;
    background: #4359c9 url('../../../image/activity/mayActivity/rule_bg_btn.png') no-repeat center;
    background-size: 5.21rem .69rem;
}
.rule_content{
    padding: .33rem .2rem .37rem .48rem;
}
.rule_content ol li{
    font-size: .26rem;
    color:#43423c;
    list-style-type: decimal;
    line-height: .5rem;
    word-break: break-all;
}
.overlay {
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
}

/*地址的弹窗样式*/
.site_cont{
    width: 90%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    background-color: #fff;
    z-index: 400;
    border-radius: .04rem;
    display: no-ne;
}
.site_cont .close_btn{
    position: absolute;
    width: .5rem;
    height: .5rem;
    background: url(../../../image/activity/mayActivity/close_pop_btn.png) no-repeat 0 0;
    background-size: 100%;
    right: 0;
    top: -.64rem;
}
.addTitle{
    width: 100%;
    height:.9rem;
    background: #4359c9 url('../../../image/activity/mayActivity/site_bg_btn.png') no-repeat center;
    background-size: 5.21rem .69rem;
}
.addTitle .modifyAdd{
    position: absolute;
    right:.26rem;
    text-decoration: underline;
    color:#fff;
    display: none;
}
.addInfo{
    padding-top: .35rem;
    width: 94%;
    margin:0 auto;
}
.addInfo li{
    height:.56rem;
    line-height:.56rem;
    border: .02rem solid #4359c9;
    margin-bottom: .27rem;
    position: relative;
    padding-left:.15rem;
    border-radius: .04rem;
}
.addInfo li input{
    display: inline-block;
    width:95%;
    height:100%;
    position: absolute;
    top:0;
    left:.15rem;
    color: #4359c9;
    font-size: .24rem;
}
::-webkit-input-placeholder {
    color: #163d95;
    text-overflow: ellipsis;
}
.newAddBox,.modifyBox{
    display: none;
    margin: 5% 2%;
    font-size: .24rem;
}
.newAddBox li{
    width: 46%;
    height: .56rem;
    line-height: .56rem;
    text-align: center;
    border: 0.02rem solid #4359c9;
    border-radius: .8rem;
}
.newAddBox li.backAct{
    color: #4359c9;
}
.newAddBox li.saveAdd{
    height: .6rem;
    line-height: .6rem;
    background-color: #4359c9;
    color:#fff8e3;
    border: none;
}

.modifyBox .modifyBack a{
    display: block;
    width: 46%;
    height:.6rem;
    line-height: .6rem;
    text-align: center;
    background-color: #4359c9;
    font-size: .24rem;
    margin:0 auto;
    color:#fff;
    border-radius: .8rem;
}
/*错误提示信息样式开始*/
.err{
    display: none;
    width: 4.2rem;
    padding: 0 .2rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .24rem;
    background-color: #000;
    background: rgba(3, 3, 3, .6);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2.1rem;
    margin-top: -.6rem;
    text-align: center;
    z-index: 999;
    color: #fff;
    word-break: break-all;
}