.yk_tc{ width:500px; position:absolute; left:0px; top:0px;background:#fff; z-index:10001;-webkit-box-shadow: 0px 3px 3px rgba(3, 0, 0, 0.1);-moz-box-shadow: 0px 3px 3px rgba(3, 0, 0, 0.1); box-shadow: 0px 3px 3px rgba(3, 0, 0, 0.1);}
.yk_tc .tophead{ width:462px; height:35px; background:#172c7f; padding-top:10px; padding:10px 16px 0px 22px; }
.yk_tc .tophead .b1{ float:left; color:#FFF; font-size:20px; }
.yk_tc .tophead .b2{ float:right; cursor:pointer;}
.yk_tc .textconter{ padding-bottom:18px;}
.yk_tc .textconter .p1{ height:38px; line-height:38px; color:#7f7f7f; font-size:14px; margin-bottom:5px;}
.yk_tc .textconter .p0{ height:30px; line-height:30px; color:#7f7f7f; font-size:12px; margin-bottom:10px;}
.yk_tc .textconter { padding-left:24px;}
.yk_tc .textconter .p2 span{ float:left;}
.yk_tc .touzi{ margin-top:22px;}
.yk_tc .touzi p{ height:38px; line-height:38px; text-align:center;}
.yk_tc .touzi p span{ color:#2fa8d7;}
.yk_tc .textconter .p2 .sjh{ width:80px; height:30px; line-height:28px; text-align:left; font-size:14px; color:#000;}
.yk_tc .textconter .p2 .m1{ width:144px; height:20px; line-height:20px; float:left; border:none; background:url(../../../resources/image/jwin/window/inputbg.jpg) no-repeat; padding:5px 0px 5px 6px;}
.yk_tc .textconter .p2 .m2{ width:264px; height:20px; line-height:20px; float:left; border:none; background:url(../../../resources/image/jwin/window/inputbg2.jpg) no-repeat; padding:5px 0px 5px 6px;}
.yk_tc .textconter .p2 .yzm{ width:110px; height:20px; line-height:20px; text-align:center; font-size:14px; margin-top:10px; display:none;}
.yk_tc .textconter .p2 .hq{ width:110px; height:26px; line-height:26px; text-align:center; font-size:14px; border:1px solid #c8c8c8; background:#f0f0f0; margin-left:10px; display:inline;cursor: pointer;}
.yk_tc .textconter .p2 font{ border:1px solid #c8c8c8; background:#f0f0f0; width:40px; height:28px; line-height:28px; text-align:center; color:#fe0000; float:left;}
.yk_tc .yk_btn{ width:412px; padding:12px 0px 37px 104px;}
.yk_tc .yk_btn2{ width:362px; padding:12px 0px 37px 164px;}
.yk_tc .textconter .p2 .nanber{ display:none;}
#yinkermask { position: absolute; left: 0; top: 0; z-index: 10000; background: #000; opacity: 0.3; filter:alpha(opacity=30); -moz-opacity:0.3;  -khtml-opacity: 0.3; }
.yk_tc .left{width:142px; height:36px; line-height:36px; color:#FFF; font-weight:bold; text-align:center; -webkit-border-radius: 2px; -moz-border-radius:2px;  text-align:center; border:1px solid #0083b6; border-radius:2px;  margin-right:40px; display:inline;  background:#2ea4d2; float:left; cursor:pointer;font-size: 16px; }
.yk_tc .left:hover{width:142px; height:36px; line-height:36px; color:#FFF;  text-align:center;  background:#3bb3e2;  cursor:pointer; }
.yk_tc .right{width:142px; height:36px; line-height:36px; color:#999; font-weight:bold; text-align:center; -webkit-border-radius: 2px;font-size: 16px; -moz-border-radius:2px;  text-align:center; border:1px solid #b1b0b0; border-radius:2px;  margin-right:40px; display:inline;  background:#c8c8c8; float:left; cursor:pointer; }
.yk_tc .right:hover{width:142px; height:36px; line-height:36px; color:#999;  text-align:center;  background:#dbdbdb;  cursor:pointer; }
.info{ width:697px; margin:30px 0px 0px 30px;}
.info .L_information{width:352px; float:left; border-right:1px solid #dadada;}
.info .L_information ul li {height:36px;}
.info .L_information ul li span{width:94px; float:left; font-size:14px; color:#a6a6a6; padding-left:12px;}
.info .L_information ul li select{width:139px; height:22px; line-height:22px; border:1px solid #dadada;}
.info .L_information ul li a{float:left; font-size:12px; color:#2ea4d2; margin-left:6px; margin-top:2px; text-decoration: underline;}
.info .L_information ul li font{float:left; font-size:14px; color:#353535;}
.info .R_pic{float:left; margin-left:90px; display:inline;}
.info .R_pic .fileimag{width:100px; height:100px; overflow:hidden;}
.info .R_pic .text{ width:100px; height:34px; line-height:34px; text-align:center; color:#2ea4d2; cursor: pointer; }
.aboutme2{ width:659px; padding:6px 18px 0px 18px; background:#fff; position: relative;}
.aboutme2 .cz,.aboutme .cz {width:77px; height:31px; line-height:31px; float:left; margin-right: 9px; font-size:14px; text-align:center; display:block;  background:#e7420a; color:#fff;}
.aboutme2 .cz:hover,.aboutme .cz:hover {background:#ee6725; color:#fff;}
.aboutme2 .tx, .aboutme .tx {width:77px;height:31px; line-height:31px;  float:left; background:#2ea4d2;font-size:14px;  text-align:center;  display:block; color:#fff; }
.aboutme2 .tx:hover, .aboutme .tx:hover {background:#34b7eb; color:#fff;}
.pic .tx {width: 100px; height:100px;overflow: hidden; }
.pic .tx img{width: 100px; height:100px; border:none; }
.myindex03 .tg{height:54px; line-height:54px; overflow: hidden; float:right; margin-right:14px; display: inline;}
.hint_2{color:#e7420a; padding-left:20px; background:url(../../../resources/image/jwin/user/hint_logo.png) no-repeat left top; margin-bottom:25px;}
.bank_top .hint_2{color:#e7420a; padding-left:20px; background:url(../../../resources/image/jwin/user/hint_logo.png) #f8fdff no-repeat left top; margin-bottom:0;width:773px;padding-bottom:16px; margin-left: 5px;}
.bank_top .hint_2 em{color:#00a0e9;float:right;margin-right:147px;font-style:normal;text-decoration:underline;cursor:pointer;}
.myindex03 .tg .m2{float:right;}
.myindex03 .tg .m2 span,.myindex03 .tg .m3 span{float:left; font-size:12px; line-height:58px; margin: 0px 9px; color:#999;}
.myindex03 .tg span{ float: left;
font-size: 12px;
line-height: 58px;
margin: 0px 4px;}
.myindex03 .tg img{width:22px; height:11px; float:left; margin:24px 14px 0px 0px; }
.myindex03 .tg a{font-size:12px; color:#999; height:54px; line-height:60px;  float:left; margin-top:0px; padding-right:0px;}
.myindex03 .tg .username{ color:#2FA8D7; padding-right: 26px;}
.myindex03 .tg a:hover{color:#2FA8D7;}
.myindex03 .tg b{font-size:12px; color:#acaead; height:54px; line-height:60px;  float:left; font-weight: normal;}
.aboutme{ width:659px; border:1px solid #e1e1e1; padding:6px 18px 0px 18px; background:#f2fcfe; position: relative;}
.pm .tg{height:42px; line-height:42px; overflow: hidden; border-bottom: 1px solid #e2e6e7; margin-bottom:20px;}
.pm .tg .m1{float:right;}
.pm .tg .m1 span{float:left; font-size:12px; line-height:46px; margin: 0px 4px;}
.pm .tg span{font-size:18px; color:#000; font-weight: bold; float:left;}
.pm .tg img{width:34px; height:14px; float:left; margin: 16px 4px 0px 0px; }
.pm .tg a{font-size:12px; color:#353535; height:42px; line-height:48px;  float:left;}
.pm .tg .username{ color:#acaead; }
.pm .tg a:hover{color:#2FA8D7;}
.pm .tg b{font-size:12px; color:#acaead; height:42px; line-height:48px;  float:left; font-weight: normal;}
.pm .u_1{width:194px; border-right:1px solid #e9e9e9;  }
.pm .u_1 li{height:34px;  font-size:14px; vertical-align: middle; }
.pm .u_1 li .remaining{color:#e7420a; font-size:20px;}
.pm .u_1 .first span{font-weight: bold;}
.pm .u_1 .last{margin-top:12px;}
.pm .u_2 li{height:33px; font-size:14px; vertical-align: middle; }
.pm .u_2 li span{float:left;}
.pm .u_2 li a{float:right; color:#a6a6a6; font-size:12px;}
.pm .u_2{width:248px;  padding:0px 6px 0px 26px; border-right:1px solid #e9e9e9; }
.pm .u_3{width:150px; padding-left:20px;}
.pm .u_3 li{height:18px; line-height:18px; font-size:14px; margin-bottom:6px; vertical-align: middle; }
.pm .u_3 li span{font-size:13px; color:#353535; float:left; height:18px;}
.pm .u_3 li .txblank{font-weight: bold;}
.pm .u_3 li .btnxg{text-align: left;  float:right; }
.pm .u_3 li .btnxg a{font-size: 12px; color:#888; cursor:pointer;}
.pm .u_3 li .btnxg a:hover{color: #2fa8d7;}
.ullist{margin-bottom:20px;}
.ullist ul {float:left; }
.pm ul li .blank{ height:18px;  display:inline; float:left; position: relative; }
.pm ul li .blank .blanklogo{ height:18px; width:18px; cursor: pointer; float:left;  }
.pm ul li .fiche{width:182px; height:95px; -moz-box-shadow: 2px 2px 10px #909090;-webkit-box-shadow: 2px 2px 10px #909090;box-shadow:2px 2px 10px #909090;  padding-top:11px;  -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;  background: #fbfbfb;  border:1px solid #c0c1c1; position:absolute; left:-58px; top:-116px;}
.pm ul li .cardnumber{float:left; height:18px; line-height:18px; margin-left:8px; display: inline;}
.pm ul li .cardnumber span{float:left; height:18px; line-height:16px;}
.pm ul li .cardnumber b{float:left; height:18px; line-height:18px; font-weight: normal; font-size: 12px; margin-left: 4px; display: inline;}
.pm ul li .fiche .p1{padding-left:15px; height: 24px; line-height: 24px;}
.pm ul li .fiche .p1 img{float:left; margin-right:5px; margin-top: 1px;}
.pm ul li .fiche .p1 b{float:left; height:24px; line-height:16px; font-size: 14px;  font-weight: 600;}
.pm ul li .fiche .p2{padding-left:15px; height:40px; line-height:40px;}
.pm ul li .fiche .p3{position: relative; background:#4c4d4d; height:34px; line-height:34px; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; border-bottom-left-radius:3px;
-moz-border-radius-bottomright:3px; -webkit-border-bottom-right-radius:3px; border-bottom-right-radius:3px; color:#fff; font-size:14px; padding-right:14px; text-align: right;}
.pm ul li .fiche .bz{width:6px; height:5px; dispalay:block; overflow:hidden; overflow:hidden; position: absolute; left:61px; top:34px;}
.pm ul li .fiche .bz img{width:6px; height:5px; dispalay:block;}
.yinker_mx{ width:500px;  background:#fff; position:absolute; left:0px; top:0px;z-index:99999999;padding-bottom:10px;}
.yinker_mx p{ font-size:14px; height:20px; line-height:20px; padding-left:12px; }
.yinker_mx h2{ font-size:16px; height:45px; line-height:45px; text-align:left; padding-left:12px; color:#000;  border-bottom:1px solid #ddd; margin-bottom:10px;}
.yinker_mx h2 span{background:url(../../../resources/image/jwin/project/check_close.png) no-repeat center center;height:45px;width:45px;display:inline-block;border-left:1px solid #ececec;cursor:pointer;position:absolute;right:0px;top:0px;}
.yinker_mx .btn{ border-top:1px solid #ddd; margin-top:40px; height:30px; line-height:30px; padding:10px 0px 0px 150px;}
.yinker_mx a{ text-decoration:none; color:#FFF; font-size:14px; float:left; width:80px; height:30px; line-height:30px; text-align:center; margin-right:40px; }
.yinker_mx .btn .a1{ background:#1d9ada;}
.yinker_mx .btn .a2{ background:#ccc;}
.yk_tc .tit{ font-size:18px; color:#000; height:64px; line-height:64px; padding-left:40px; margin-top:8px;}
.yk_tc .xlist li{ float:left; width:210px; height:35px; line-height:35px; margin-left:40px; display:inline;}
.yk_tc .xlist{ margin-bottom:30px;}
.yk_tc .xlist li span{ font-size:14px; color:#000;}
.yk_tc .xlist li b{ font-size:16px;  color:#2fa8d7; font-family:Arial;}
.yk_tc .xy{ height:52px; line-height:52px; padding-left:52px;}
.yk_tc .xy input{ float: left; margin:18px 10px 0px 0px; width:17px; height:17px;}
.yk_tc .xy span{ float: left; margin-right:20px; font-size:14px;}
.yk_tc .xy font{ float: left;}
.yk_tc .xy font a{color:#172b7e; font-size:14px;}
.yk_tc .xy2{ height:31px; line-height:31px; padding-left:74px; margin-bottom:18px;}
.yk_tc .xy2 span{ height:31px; line-height:31px; float:left; font-size:14px; color:#000;}
.yk_tc .xy2 input{ border:1px solid #ccc; padding:2px;  line-height:24px; height:24px; float:left;}
.yk_tc .xy2 img{ padding:1px 0px 0px 10px; float:left; cursor:pointer;}
.newstyle.yinker_mx{ width:500px; height:170px;  background:#f8f8f8; position:absolute; left:0px; top:0px;z-index:99999999;padding-bottom:10px;}
.newstyle.yinker_mx{height:auto}
.newstyle.yinker_mx p{ font-size:14px; height:26px; line-height:26px; padding-left:20px; color:#353535;}
.newstyle.yinker_mx p img{vertical-align:-4px;margin-right:4px; float: left; margin-top: 6px;}
.newstyle.yinker_mx h2{ font-size:16px; height:45px; line-height:45px; font-weight: 600; text-align:left; padding-left:20px; color:#0a0a0a; border-bottom: 1px solid #c9c9c9; position:relative;}
.newstyle.yinker_mx h2 span{background:url(../../../resources/image/jwin/project/check_close.png) no-repeat center center;height:45px;width:45px;display:inline-block;border-left:1px solid #ececec;cursor:pointer;position:absolute;right:0px;top:0px;}
.newstyle.yinker_mx div{margin-top:20px;}
.newstyle.yinker_mx .btn{ border-top:1px solid #ddd; margin-top:40px; height:30px; line-height:30px; padding:10px 0px 0px 150px;}
.newstyle.yinker_mx a{ text-decoration:none; color:#2fa3d6; font-size:14px; height:26px; line-height:26px; float:left; width:auto; margin:auto;  }
.newstyle.yinker_mx span{height:26px; line-height:26px; float:left;}
.newstyle.yinker_mx .nest{width:77px;  text-align: center;color: #fff; height:26px; line-height:26px; font-size:13px; float:left; background:#e54708;}


#share{width:200px;background:#fff;z-index:99999;position:absolute;border-radius:4px;overflow:hidden;display:none;}
#share p.shareTitle{line-height:44px;font-size:16px;color:#333;font-weight:bold;text-indent:22px;border-bottom:1px solid #dadada;height:44px;}
#share p.shareTitle i.cross{float:right;height:44px;border-left:1px solid #dadada;width:44px;cursor:pointer;background:url(../../../resources/image/jwin/checkclose2.png) no-repeat center center;}
#share p.shareTitle i.cross:hover{background:url(../../../resources/image/jwin//checkclose2h.png) #00afeb no-repeat center center;}
#share div.shareNotice{padding-top:44px;padding-bottom:50px;height:43px;text-align:center;}
#share div.shareNotice .shareNoticeDiv{margin:0 auto;width:300px;}
#share div.shareNotice .shareNoticeDiv .shareNoticeDivDiv{width:57px;display: inline-block;float: left;}
#share div.shareNotice>p{float:left;font-size:16px;color:#e7420a;font-weight:bold;line-height:24px;}
#share div.shareNotice>p+p{font-size:15px;color:#333;font-weight:normal;}
#share div.shareNotice>p span{color:#e7420a;}
#share div.shareBox{height:120px;background:#eee;text-align:center;padding-top:20px;}
#share div.shareBox>p{line-height:20px;font-size:12px;text-align:center;color:#333;}
.bdsharebuttonbox{display:inline-block;margin:0 auto;padding-top:10px;color:#333;padding-left:10px;}
.bdsharebuttonbox span{float:left;line-height:32px;margin:6px 6px 6px 0;font-size:14px;}
.shareBox .bdshare-button-style0-32 a{margin-right:10px;}
body .bdshare_dialog_box{z-index:100000;}
body .bd_weixin_popup{z-index:100000;}
.shareBox .bdshare-button-style0-32 a{background-image: url(../images/shiwan/shareIconbg.png);}
.shareBox .bdshare-button-style0-32 .bds_weixin{background-position:0 0;}
.shareBox .bdshare-button-style0-32 .bds_tsina{background-position:-35px 0;}
.shareBox .bdshare-button-style0-32 .bds_qzone{background-position:-70px 0;}
.shareBox .bdshare-button-style0-32 .bds_sqq{background-position:-105px 0;}
.shareBox .bdshare-button-style0-32 .bds_tieba{background-position:-140px 0;}
.shareBox .bdshare-button-style0-32 .bds_more{background-position:-175px 0;}


/* PC¿ì½ÝÖ§¸¶ 3.28 */
div.bankbox{width:900px;background:#f8fdff}
div.bank_top h6{color:#333333;font-weight:bold;font-size:12px;padding-left:20px;padding-top:25px;}
div.bank_top h6+h6{padding-top:20px;}
div.bank_top ul.accountstyle{list-style:none;zoom:1;padding-top:15px;}
div.bank_top ul.accountstyle:after{clear:both;display:block;content:"";}
div.bank_top ul.accountstyle li{float:left;cursor: pointer;padding-left:20px;height:16px;line-height:16px;}
div.bank_top ul.accountstyle li p{width: 16px;height: 16px;float: left;background: url(../../../resources/image/jwin/bank/radio.png) no-repeat 0 0;padding-right:8px;}
div.banded{padding-top:27px;border-bottom:1px solid #e1e1e1;padding-left:20px;}
div.bandedcardbox{border:2px solid #00a0e9;width:330px;height:54px;padding-left:63px;background: url(../../../resources/image/jwin/bank/radiop.jpg) no-repeat 25px 18px;font-family:Arial;font-size:0;line-height:54px;}
div.bandedcardbox span{font-family:Arial;font-size:14px;line-height:54px;float:left;padding-left:30px;}
div.bandedcardbox img{margin-top:9px;float:left;}
div.banded p{font-size:12px;color:#999;padding-top:10px;padding-bottom:18px;}
div.banded p span{color:#e7420a}
div.banded p+p{text-align:right;padding-right:18px;}


#share{width:100%;background:#fff;z-index:100000000;position:absolute;border-radius:4px;overflow:hidden;display:none;padding-bottom:37px;}
#share p.shareTitle{line-height:44px;font-size:16px;color:#333;font-weight:bold;text-indent:22px;border-bottom:1px solid #dadada;height:44px;}
#share p.shareTitle i.cross{float:right;height:44px;border-left:1px solid #dadada;width:44px;cursor:pointer;background:url(../../../resources/image/jwin/checkclose2.png) no-repeat center center;}
#share p.shareTitle i.cross:hover{background:url(../../../resources/image/jwin/checkclose2h.png) #00afeb no-repeat center center;}
#share div.wordbox{padding-top:30px;padding-left:30px;height:420px;overflow-y:scroll}
#share div.wordbox p{font-size:14px;color:#333333;line-height:34px;}
#share div.wordbox p span{color:#e7420a;}
#share div.wordbox h6{font-size:14px;color:#333333;font-weight:bold;}
#share a{width:180px;height:42px;line-height:42px;color:#f8fdff;font-size:16px;text-align:center;display:block;border-radius:3px;margin:0 auto;background:#00a0e9;margin-top:33px}
#share ul li{height:40px;line-height:40px;}
#share ul li.titleline{background:#ebebeb;}
#share ul li.listbg{background:#f8f8f8;}
#share ul li.titleline span{font-weight:bold;color:#333333;}
#share ul{width:688px;font-size:0;}
#share li span{color:#333;display:inline-block;width:33%;font-size:14px;text-indent:22px;}
#share li span+span{color:#00a0e9;}
#share a:hover{background:#1cc5ff;}
#share div.wordbox h4{font-size:14px;color:#333333;font-weight:bold;line-height:14px;padding-top:32px;padding-bottom:12px;}



#amountnotice{width:766px;background:#fff;z-index:100000000;position:absolute;border-radius:4px;overflow:hidden;display:none;padding-bottom:37px;}
#amountnotice p.shareTitle{line-height:44px;font-size:16px;color:#333;font-weight:bold;text-indent:22px;border-bottom:1px solid #dadada;height:44px;}
#amountnotice p.shareTitle i.cross{float:right;height:44px;border-left:1px solid #dadada;width:44px;cursor:pointer;background:url(../../../resources/image/jwin/checkclose2.png) no-repeat center center;}
#amountnotice p.shareTitle i.cross:hover{background:url(../../../resources/image/jwin/checkclose2h.png) #00afeb no-repeat center center;}
#amountnotice div.wordbox{padding-top:30px;padding-left:30px;height:420px;overflow-y:scroll}
#amountnotice div.wordbox p{font-size:14px;color:#333333;line-height:34px;}
#amountnotice div.wordbox p span{#e7420a;}
#amountnotice div.wordbox h6{font-size:14px;color:#333333;font-weight:bold;}
#amountnotice a{width:180px;height:42px;line-height:42px;color:#f8fdff;font-size:16px;text-align:center;display:block;border-radius:3px;margin:0 auto;background:#00a0e9;margin-top:33px}
#amountnotice ul li{height:40px;line-height:40px;}
#amountnotice ul li.titleline{background:#ebebeb;}
#amountnotice ul li.listbg{background:#f8f8f8;}
#amountnotice ul li.titleline span{font-weight:bold;color:#333333;}
#amountnotice ul{width:688px;font-size:0;}
#amountnotice li span{color:#333;display:inline-block;width:33%;font-size:14px;text-indent:22px;}
#amountnotice li span+span{color:#00a0e9;}
#amountnotice a:hover{background:#1cc5ff;}
#amountnotice div.wordbox h4{font-size:14px;color:#333333;font-weight:bold;line-height:14px;padding-top:32px;padding-bottom:12px;}
